
.white{
  background-color: white;
}

.border{
  border:solid 1px #eee;
}

.tr:nth-of-type(odd){
  background-color: #eee
}
.selected {
    background-color: #CFD8DC !important;
    color: white;
}
main {
 display: flex;
}
nav {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 30px;
}
nav a {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  color: #000;

  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  margin-right: 2px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
}

.content {
  width: 100%;
}
.title{
  margin-left: 420px;
  text-align: left;
  }
